

@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,700;1,300&display=swap');

body {
  margin: 0;
 padding: 0%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slider_img{
  width: 100%;
  margin: 0%;
  padding: 0%;
  }
.mybutton{
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  background-color: #0877B6;
  color: white;
}

.product_name{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.bg_color_blue{
  background-color: blue;
  color: white;
}